@use "./base.scss";
@use "./variables.scss" as *;
body {
  --note-icon-1: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMyMWJhOGMiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zcHJvdXQiPjxwYXRoIGQ9Ik03IDIwaDEwIi8+PHBhdGggZD0iTTEwIDIwYzUuNS0yLjUuOC02LjQgMy0xMCIvPjxwYXRoIGQ9Ik05LjUgOS40YzEuMS44IDEuOCAyLjIgMi4zIDMuNy0yIC40LTMuNS40LTQuOC0uMy0xLjItLjYtMi4zLTEuOS0zLTQuMiAyLjgtLjUgNC40IDAgNS41Ljh6Ii8+PHBhdGggZD0iTTE0LjEgNmE3IDcgMCAwIDAtMS4xIDRjMS45LS4xIDMuMy0uNiA0LjMtMS40IDEtMSAxLjYtMi4zIDEuNy00LjYtMi43LjEtNCAxLTQuOSAyeiIvPjwvc3ZnPg==);
  --note-icon-2: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMzOTlmMzIiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zaHJ1YiI+PHBhdGggZD0iTTEyIDIydi03bC0yLTIiLz48cGF0aCBkPSJNMTcgOHYuOEE2IDYgMCAwIDEgMTMuOCAyMHYwSDEwdjBBNi41IDYuNSAwIDAgMSA3IDhoMGE1IDUgMCAwIDEgMTAgMFoiLz48cGF0aCBkPSJtMTQgMTQtMiAyIi8+PC9zdmc+);
  --note-icon-3: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMyNTc5MmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXRyZWUtZGVjaWR1b3VzIj48cGF0aCBkPSJNOCAxOWg4YTQgNCAwIDAgMCAzLjgtMi44IDQgNCAwIDAgMC0xLjYtNC41YzEtMS4xIDEtMi43LjQtNC0uNy0xLjItMi4yLTItMy42LTEuN2EzIDMgMCAwIDAtMy0zIDMgMyAwIDAgMC0zIDNjLTEuNC0uMi0yLjkuNS0zLjYgMS43LS43IDEuMy0uNSAyLjkuNCA0YTQgNCAwIDAgMC0xLjYgNC41QTQgNCAwIDAgMCA4IDE5WiIvPjxwYXRoIGQ9Ik0xMiAxOXYzIi8+PC9zdmc+);
  --note-icon-4: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNjZDg2MjMiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1sZWFmIj48cGF0aCBkPSJNMTEgMjBBNyA3IDAgMCAxIDkuOCA2LjFDMTUuNSA1IDE3IDQuNDggMTkgMmMxIDIgMiA0LjE4IDIgOCAwIDUuNS00Ljc4IDEwLTEwIDEwWiIvPjxwYXRoIGQ9Ik0yIDIxYzAtMyAxLjg1LTUuMzYgNS4wOC02QzkuNSAxNC41MiAxMiAxMyAxMyAxMiIvPjwvc3ZnPg==);
  --note-icon-5: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNlNjdhN2EiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1taWxlc3RvbmUiPjxwYXRoIGQ9Ik0xOCA2SDVhMiAyIDAgMCAwLTIgMnYzYTIgMiAwIDAgMCAyIDJoMTNsNC0zLjVMMTggNloiLz48cGF0aCBkPSJNMTIgMTN2OCIvPjxwYXRoIGQ9Ik0xMiAzdjMiLz48L3N2Zz4=);
  --note-icon-6: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMxZmE0ZDEiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1kcm9wbGV0Ij48cGF0aCBkPSJNMTIgMjJhNyA3IDAgMCAwIDctN2MwLTItMS0zLjktMy01LjVzLTMuNS00LTQtNi41Yy0uNSAyLjUtMiA0LjktNCA2LjVDNiAxMS4xIDUgMTMgNSAxNWE3IDcgMCAwIDAgNyA3eiIvPjwvc3ZnPg==);
}

*[data-icon]::before {
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
}

*[data-icon="1"]::before {
  background-image: var(--note-icon-1)
}

*[data-icon="2"]::before {
  background-image: var(--note-icon-2)
}

*[data-icon="3"]::before {
  background-image: var(--note-icon-3)
}

*[data-icon="4"]::before {
  background-image: var(--note-icon-4)
}

*[data-icon="5"]::before {
  background-image: var(--note-icon-5)
}

*[data-icon="6"]::before {
  background-image: var(--note-icon-6)
}

hr {
    overflow: visible;
    padding: 0;
    margin: 4em auto;
    border: none;
    color: var(--gray);
    text-align: center;
    width: 40%;
    border-color: var(--gray);
    &:after {
      content: "* * *";
      display: inline-block;
      margin: -1em 0 0.5em;
      font-size: 1.5em;
      padding: 0.5em 1em;
      background: var(--light);
    }
  }
  
  pre.poetry {
    font-size: 1.2rem;
    font-family: 'Caveat', cursive;
    border: none;
    padding: 0;
    position: unset;
    font-size: 1.46rem;
    text-align: center;
  }

